@import "tailwindcss";
@plugin "daisyui";

.gradient-text {
  background: linear-gradient(90deg, #a020f0, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: bold;
}

